Flask==3.0.3
blinker==1.9.0
click==8.2.1
colorama==0.4.6
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
networkx==3.5
numpy==2.3.2
packaging==25.0
scikit-fuzzy==0.5.0
scipy==1.16.1
Werkzeug==3.1.3
